$color-special: rgb(1, 161, 36);
$color-special-highlight: #3a6424; //rgb(1, 128, 28);

$color-white-1: rgb(247, 247, 247);

$color-gray-1: rgb(214, 214, 214);

$color-red-1: rgb(187, 0, 0);
$color-red-2: rgb(145, 1, 1);
