#playerListContainer {
    width: 200px;
    position: absolute;

    top: 0;
    right: 0;

    padding: 1rem;

    background-color: $color-gray-1;

    #playerListElement {
        h3 {
            font-weight: 400;

            &.attacker {
                font-weight: 500;
            }

            &.defender {
                font-weight: 600;
                //color: $color-red-2;
            }

            &.helper {
                font-weight: 500;
            }

            &.gaveUp {
                text-decoration: line-through;
            }
        }
    }
}
